{
  "./((**/*|*).ts?(x)|.eslintrc.cjs)": [
    "eslint --ignore-path .gitignore --fix",
    "prettier --write --ignore-unknown"
  ],
  "!./((**/*|*).ts?(x)|.eslintrc.cjs)": ["prettier --write --ignore-unknown"]
}
