{
  "./((**/*|*).ts?(x)|.eslintrc.cjs|babel.config.js)": [
    "eslint --ignore-path .gitignore --fix",
    "prettier --write --ignore-unknown"
  ],
  "!./((**/*|*).ts?(x)|.eslintrc.cjs|babel.config.js)": [
    "prettier --write --ignore-unknown"
  ]
}
